# This server's hostname
mailhost=mail.example.com
# The database server for forwarding lookups
db_host=db.example.com
# The database name
db_name=database_name
# The username and password for the database
db_user=database_user
db_password=swordfish
