commands:
  00_remove_old:
    command: "rm -f /tmp/.env"
  01_do_mailhost:
    command: "echo mailhost=$(sudo /opt/elasticbeanstalk/bin/get-config environment -k mailhost) >> /tmp/.env"
  02_do_db_host:
    command: "echo db_host=$(sudo /opt/elasticbeanstalk/bin/get-config environment -k db_host) >> /tmp/.env"
  03_do_db_user:
    command: "echo db_user=$(sudo /opt/elasticbeanstalk/bin/get-config environment -k db_user) >> /tmp/.env"
  04_do_db_password:
    command: "echo db_password=$(sudo /opt/elasticbeanstalk/bin/get-config environment -k db_password) >> /tmp/.env"
  05_do_db_name:
    command: "echo db_name=$(sudo /opt/elasticbeanstalk/bin/get-config environment -k db_name) >> /tmp/.env"
  06_hokey_cokey:
    command: "eval $(cat /tmp/.env | sed 's/^/export /')"
  07_print_env:
    command: "cat /tmp/.env"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_copy_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      cp /tmp/.env /var/app/current/
